<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SearchBarCompnent</title>
    <link rel="stylesheet" href="SearchBarComponent.css">
</head>
<body>
  <div class="SearchBarComponent">
    <form action="" class="searchbar">
      <label for="search"></label>
      <button class="button">
        <img src="../../assets/icons/search-normal.svg" alt="" >
      </button>
      <input id="search" type="search" placeholder="Введи вопрос и узнай ответ">
      <button class="button_close">
        <img src="../../assets/icons/cross.svg" alt="">
      </button>
    </form>
    <button class="search_button">
      <p>
        Искать
      </p>
    </button>
  </div>
</body>
</html>