@import '../../styles/global.scss';
@import '../../../public/styles.css';

.searchbar {
    display: flex;
    width: 100%;
    height: 40px;
}
button, input {
    all:unset;
}
button {
    cursor: pointer;
    background-color: #EFEFEF;
    padding: 8px 8px 8px 12px;
    border-radius: 8px 0 0 8px;
    border: 1px solid #EBEBEB;
    border-right: none;
}
input {
    display: flex;
    color: #707274;
    background-color: #EFEFEF;
    width: 100%;
    border-radius: 0 8px 8px 0;
    border: 1px  solid #EBEBEB;
    border-left: none;
    align-items: center;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 125%;
}