@import "styles/global.scss";

.btn_container {
  background: $color-controls-primary;
  padding: 12px 14px;
  border-radius: 8px;
  @include controls-button(14px, 120%, $color-text-inverted);
  border: none;
  cursor: pointer;
}