<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="SkillProgressBarComponent.css">
    <title>Title</title>
</head>
<body>
<div class="SkillProgressBarComponent">
    <div class="SkillProgressBarComponent__first">
        <div class="text">
            <h4>Прогресс навыков</h4>
            <p>Уровень навыков обновляется <br> после каждого теста</p>
        </div>
        <label for="month"></label>
        <select id="month" name="month">
            <option value="january">Январь</option>
            <option value="february">Февраль</option>
            <option value="march">Март</option>
            <option value="april">Апрель</option>
            <option value="may">Май</option>
            <option value="june">Июнь</option>
            <option value="july">Июль</option>
            <option value="august">Август</option>
            <option value="september">Сентябрь</option>
            <option value="october">Октябрь</option>
            <option value="november">Ноябрь</option>
            <option value="december">Декабрь</option>
        </select>
    </div>
    <div class="div">
        <div class="SkillToProgressComponent">
            <p>Постановка задачи<span><span>+</span><span>7</span><span>%</span></span></p>
            <div class="progress setting-the-task">
                <div class="progress__now"></div>
                <div class="progress__new"></div>
            </div>
        </div>
        <div class="SkillToProgressComponent">
            <p>Мониторинг<span><span>+</span><span>33</span><span>%</span></span></p>
            <div class="monitoring progress">
                <div class="progress__now"></div>
                <div class="progress__new"></div>
            </div>
        </div>
        <div class="SkillToProgressComponent">
            <p>Анализ<span><span>+</span><span>100</span><span>%</span></span></p>
            <div class="progress analysis">
                <div class="progress__now"></div>
                <div class="progress__new"></div>
            </div>
        </div>
        <div class="SkillToProgressComponent">
            <p>Обучение<span><span>+</span><span>145</span><span>%</span></span></p>
            <div class="progress study">
                <div class="progress__now"></div>
                <div class="progress__new"></div>
            </div>
        </div>
        <div class="SkillToProgressComponent">
            <p>Обработка результата<span><span>+</span><span>156</span><span>%</span></span></p>
            <div class="progress result-processing">
                <div class="progress__now"></div>
                <div class="progress__new"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>