<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>UserComponent</title>
  <link rel="stylesheet" href="UserComponent.css">
</head>
<body>
  <div class="UserComponent">
    <img src="../../assets/images/avatar.png" alt="">
    <div class="UserInfo">
      <p class="UserName">Алина Шумцева</p>
      <div class="UserProgress">
        <span class="NextLevelComponent">8 уровень</span>
        <span class="LessonDay">4 дня занятий</span>
      </div>
    </div>
  </div>
</body>
</html>