@use "sass:math";
@import "../fonts/Lato/lato.css";

// Common styles
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

@media (max-width: 1440px) {
  .container {
    width: 96%;
  }
}

// Colors
$color-black: #000;
$color-white: var(--color-white);

//NavBannerComponent
$color-bg: #EFEFEF;
$color-border: #25272A;

// Text
$color-main-text: var(--color-main-text);
$color-another-main-text: var(--color-another-main-text);

// Grey
$color-grey: var(--color-grey);
$color-grey-text: var(--color-grey-text);
$color-grey-text-hover: var(--color-grey-text-hover);

// Text
$color-white-text: var(--color-white-text);
$color-dark-grey-text: var(--color-dark-grey-text);

// Main
$color-main-blue: var(--color-main-blue);
$color-main-blue-hover: var(--color-main-blue-hover);
$color-main-blue-active: var(--color-main-blue-active);

// Other
$color-error: #940202;
$color-disabled: var(--color-disabled);
$color-background-header-and-footer: var(--color-background-header-and-footer);
$color-link: #25638F;
$color-popup-shading: #16161A;
$color-cta-gradient: var(--color-cta-gradient);

// Sizes
$width-desk-wide: 1281px;
$width-desk-narrow: 1025px;
$width-tablet-wide: 861px;
$width-tablet-narrow: 769px;
$width-mobile-wide: 451px;
$width-mobile-narrow: 331px;

html, body {
  //scrollbar-color: $color-grey;
  //scrollbar-width: thin;

  body {
    background-color: $color-white;

    transition: background-color 0.3s ease-out;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $color-grey;
    border-radius: 50px;
  }
}

// Mixins
@mixin heading1($size, $line-height, $color) {
  font-family: "Lato", sans-serif;
  font-size: $size;
  font-weight: 700;
  line-height: $line-height;
  color: $color;
}

@mixin heading2($size, $line-height, $color) {
  font-family: "Lato", sans-serif;
  font-size: $size;
  font-weight: 700;
  line-height: $line-height;
  color: $color;
}

@mixin heading3($size, $line-height, $color) {
  font-family: "Lato", sans-serif;
  font-size: $size;
  font-weight: 700;
  line-height: $line-height;
  color: $color;
}

@mixin subheading($size, $line-height, $color) {
  font-family: "Lato", sans-serif;
  font-size: $size;
  font-weight: 700;
  line-height: $line-height;
  color: $color;
}

@mixin controls-button($size, $line-height, $color) {
  font-family: "Lato", sans-serif;
  font-size: $size;
  font-weight: 700;
  line-height: $line-height;
  color: $color;
}

@mixin paragraph1($size, $line-height, $color) {
  font-family: "Lato", sans-serif;
  font-size: $size;
  font-weight: 600;
  line-height: $line-height;
  color: $color;
}

@mixin paragraph1-primary($size, $line-height, $color) {
  font-family: "Lato", sans-serif;
  font-size: $size;
  font-weight: 400;
  line-height: $line-height;
  color: $color;
}

@mixin paragraph2($size, $line-height, $color) {
  font-family: "Lato", sans-serif;
  font-size: $size;
  font-weight: 600;
  line-height: $line-height;
  color: $color;
}

@mixin paragraph2-bold($size, $line-height, $color) {
  font-family: "Lato", sans-serif;
  font-size: $size;
  font-weight: 700;
  line-height: $line-height;
  color: $color;
}

@mixin caption($size, $line-height, $color) {
  font-family: "Lato", sans-serif;
  font-size: $size;
  font-weight: 700;
  line-height: $line-height;
  color: $color;
}

@mixin no-selection() {
  /* iOS Safari */
  user-select: none;

  -webkit-touch-callout: none;
}

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin icon-size($width, $height) {
  min-width: $width;
  max-width: $width;
  min-height: $height;
  max-height: $height;
}

@mixin button-default() {
  cursor: pointer;

  padding: 0;

  background: transparent;
  border: none;
  outline: 0;
}

@mixin avatar-wrapper($border: 2px, $size: 84px, $color: #454545) {
  $radius: math.div($size, 2) - $border;
  width: $size;
  height: $size;

  clip-path: circle($radius);

  img {
    $offset: $radius - $border;
    width: 100%;
    height: 100%;

    object-fit: cover;
    clip-path: circle($offset);
  }
}