@import "../../../styles/global";

.container {
  width: 100%;
  border-radius: 12px;
  padding: 20px 16px;
  display: flex;
  gap: 16px;
  p:not(.wrapper) {
    @include paragraph1(14px, 140%, $color-text-secondary);
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    @include paragraph1(16px, 125%, $color-black);

  }
}