<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="TopicComponent.css">
  <title>TopicComponent</title>
</head>
<body>
<div class="TopicComponent">
  <div class="TopicComponent__left">
    <div class="TopicComponent__header">
      <div>
        <div class="DescriptionTopicComponent">
          <img src="../../assets/icons/video-square.svg" alt="">
          <span class="DescriptionTopicComponent__span">Видео</span>
        </div>
        <div class="DescriptionTopicComponent">
          <img src="../../assets/icons/time.svg" alt="">
          <span class="DescriptionTopicComponent__span">7 минут</span>
        </div>
      </div>
      <h2>Генерация промптов <br> в OpenAI для эмуляции уличного кино</h2>
    </div>
    <button class="btn_container">
      <span>Смотреть</span>
    </button>
  </div>

  <div class="TopicComponent__right">
    <img src="../../assets/images/topic_img.png" alt="">
    <div>
      <img src="../../assets/icons/small-cross.svg" alt="">
      <p>Просмотрено</p>
    </div>
  </div>
</div>
</body>
</html>