@import "styles/global.scss";

.container {
  background: $color-background-secondary;
  max-width: 412px;
  max-height: 212px;
  padding: 16px 20px;
  border-radius: 20px;

  .wrapper {
    .h3 {
      @include heading3(22px, 24%, $color-text-primary);
    }

    .img_and_text {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 12px;
      margin-bottom: 21px;
      gap: 8px;
    }
  }

  .RowToLevelUp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    margin-bottom: 21px;

    .kubiks {
      display: flex;
      justify-content: space-between;
      gap: 4px;
    }
  }
}
